# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
.uv/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Environment
.env
*.env.local

# Data
data/raw/

# MLflow
mlruns/
mlartifacts/

# macOS
.DS_Store
.AppleDouble
.LSOverride
